<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>¿Quieres más información?</h2>
                    <div class="section-title">Contacto</div>
                    <p>Llena el formulario con tus datos y nos comunicaremos contigo, resolveremos tus dudas y podrás conocernos aún más.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>Alvaro Obregon 74, Oficina 304, Colonia Roma Norte, Del. Cuauhtemoc, C.P. 06700</li>
                        <li><i class="fas fa-phone"></i><a href="tel:525562047201">(+52) 55 6204 7201</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:hello@liondor.com.mx">hello@liondor.com.mx</a></li>
                        <li><i class="fab fa-whatsapp"></i><a href="https://wa.me/525562047201" target="_blank">Contáctanos</a></li>
                    </ul>
                    <h3>Sigue nuestras redes sociales</h3>
                    <span class="fa-stack">
                        <a href="mailto:hello@liondor.com.mx">
                            <span class="diamond"></span>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                    </a>
                    </span>
                    <span class="fa-stack">
                      <a href="https://www.facebook.com/LiondorMX" target="_blank">
                          <span class="diamond"></span>
                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                    </span>
                    <span class="fa-stack">
                      <a href="https://www.instagram.com/liondormx/" target="_blank">
                          <span class="diamond"></span>
                    <i class="fab fa-instagram fa-stack-1x"></i>
                    </a>
                    </span>
                    <span class="fa-stack">
                      <a href="https://www.linkedin.com/company/liondormx" target="_blank">
                          <span class="diamond"></span>
                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                    </a>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <form autocomplete="off" (ngSubmit)="sendMailMsg(formContact)" #formContact="ngForm">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nameContact" placeholder="Nombre" ngModel required [class.is-invalid]="nameContact.invalid && nameContact.touched" #nameContact="ngModel">
                        <small *ngIf="nameContact.invalid && nameContact.touched" class="form-text text-danger">Campo obligatorio</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phoneContact" placeholder="Teléfono" ngModel required pattern="^[0-9]*$" [class.is-invalid]="phoneContact.invalid && phoneContact.touched" #phoneContact="ngModel" minlength="10" maxlength="10">
                        <small *ngIf="phoneContact.invalid && phoneContact.touched" class="form-text text-danger">Campo obligatorio</small>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="emailContact" placeholder="Email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [class.is-invalid]="emailContact.invalid && emailContact.touched" #emailContact="ngModel">
                        <small *ngIf="emailContact.invalid && emailContact.touched" class="form-text text-danger">Ingrese un correo válido</small>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="msgContact" rows="3" placeholder="Mensaje..." ngModel required [class.is-invalid]="msgContact.invalid && msgContact.touched" #msgContact="ngModel"></textarea>
                        <small *ngIf="msgContact.invalid && msgContact.touched" class="form-text text-danger">Ingrese un correo válido</small>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="privContact" id="privContact" ngModel required [class.is-invalid]="privContact.invalid && privContact.touched" #privContact="ngModel">
                        <label class="custom-control-label" for="privContact">He leído el <a [attr.data-toggle]="'modal'" [attr.data-target]="'#privacyModal'" ngClass="privacyLink">Aviso de Privacidad</a></label>
                        <small *ngIf="privContact.invalid && privContact.touched" class="form-text text-danger">Favor de aceptar Aviso de Privacidad</small>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>