<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>¿Quieres más información?</h2>
                    <div class="section-title">Contacto</div>
                    <p>Llena el formulario con tus datos y nos comunicaremos contigo, resolveremos tus dudas y podrás conocernos aún más.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>Alvaro Obregon 74, Oficina 304, Colonia Roma Norte, Del. Cuauhtemoc, C.P. 06700</li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">(+52) 55 7487 0236</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:hello@liondor.com.mx">hello@liondor.com.mx</a></li>
                    </ul>
                    <h3>Sigue nuestras redes sociales</h3>
                    <span class="fa-stack">
                      <a href="#your-link">
                          <span class="diamond"></span>
                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                    </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                          <span class="diamond"></span>
                    <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                    </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                          <span class="diamond"></span>
                    <i class="fab fa-instagram fa-stack-1x"></i>
                    </a>
                    </span>
                    <span class="fa-stack">
                      <a href="#your-link">
                          <span class="diamond"></span>
                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                    </a>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="txtName" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="txtPho" placeholder="Teléfono">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtEma" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje..."></textarea>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">He leído el Aviso de Privacidad</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>