<div id="about" class="about-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <h2>Success... Think about it</h2>
                    <div class="section-title">Conócenos</div>
                    <p>Nuestro equipo de trabajo lleva a cabo una búsqueda directa de aquellos candidatos que estén ocupando puestos de trabajo similares y no se encuentran activamente buscando una posición en el mercado laboral.</p>
                    <p>Con sede en la CDMX, contamos con una amplia experiencia, brindándoles a cada uno de nuestros clientes tranquilidad y ahorro de tiempo.</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="image-container">
                    <!-- <img class="img-fluid" src="https://fakeimg.pl/690x440" alt="alternative"> -->
                    <!-- <img class="img-fluid" src="../../../assets/img/new/success.jpg" alt="alternative"> -->
                    <img class="img-fluid" src="../../../assets/img/new/howto1.jpg" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>