<div id="apply" class="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>¡Nuevas vacantes!</h2>
                <div class="section-title">Postúlate</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="button-group filters-button-group">
                    <a class="button is-checked all-filter" data-filter="*"><span>Todas</span></a>
                    <a *ngFor="let applyName of applies | uniqueJson;" ngClass="button" [attr.data-filter]="'.vac-' + applyName.split('|')[0]"><span>{{applyName.split('|')[1]}}</span></a>
                </div>
                <div [class]="'grid'">
                    <div *ngFor="let apply of applies; let last = last" ngClass="apply-item" [class]="'vac-' + apply.filterID">
                        <a [attr.data-toggle]="'modal'" [attr.data-target]="'#exampleModal'" href="#vac-1" (click)="this.applySelected = apply;">
                            <div ngClass="apply-item-overlay">
                                <span>{{apply.title}} {{last ? createGrid() : ''}}</span>
                            </div>
                            <img src="{{apply.imgPath}}" alt="alt">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{this.applySelected.modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7" [innerHTML]="this.applySelected.modalBody">
                    </div>
                    <div class="col-lg-5">
                        <h4>Postúlate:</h4>
                        <form autocomplete="off" (ngSubmit)="sendMail(formApply)" #formApply="ngForm">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre" name="nameApply" ngModel required [class.is-invalid]="nameApply.invalid && nameApply.touched" #nameApply="ngModel">
                                <small *ngIf="nameApply.invalid && nameApply.touched" class="form-text text-danger">Campo obligatorio</small>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Teléfono" name="phoneApply" ngModel required pattern="^[0-9]*$" [class.is-invalid]="phoneApply.invalid && phoneApply.touched" #phoneApply="ngModel" minlength="10" maxlength="10">
                                <small *ngIf="phoneApply.invalid && phoneApply.touched" class="form-text text-danger">Campo obligatorio</small>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" name="emailApply" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [class.is-invalid]="emailApply.invalid && emailApply.touched" #emailApply="ngModel">
                                <small *ngIf="emailApply.invalid && emailApply.touched" class="form-text text-danger">Ingrese un correo válido</small>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="fileApply" id="fileApply" ngModel required [class.is-invalid]="(fileApply.invalid && fileApply.touched && this.cvBaseData == '') || (!fileValid && fileApply.touched && this.cvBaseData == '')" #fileApply="ngModel"
                                    (change)="FileInputHandler($event)">
                                <label class="custom-file-label" for="customFile" style="color: #495057cf;">{{fileName}}</label>
                                <small *ngIf="(fileApply.invalid && fileApply.touched && this.cvBaseData == '') || (!fileValid && fileApply.touched && this.cvBaseData == '')" class="form-text text-danger">{{fileError}}</small>
                            </div><br><br>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="privApply" id="privCheck" ngModel required [class.is-invalid]="privApply.invalid && privApply.touched" #privApply="ngModel">
                                <label class="custom-control-label" for="privCheck">He leído el <a [attr.data-toggle]="'modal'" [attr.data-target]="'#privacyModal'" ngClass="privacyLink">Aviso de Privacidad</a></label>
                                <small *ngIf="privApply.invalid && privApply.touched" class="form-text text-danger">Favor de aceptar Aviso de Privacidad</small>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" [attr.data-apply]="this.applySelected.title" [disabled]="formApply.pristine">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--end modal-->