<!-- Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="privacyModalLabel">Aviso de Privacidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 text-justify">
                        PEOPLE & PERSONS LIONDOR LD, S.C., y sus filiales con domicilio en Alvaro Obregon 74, Oficina 304, Col. Roma Norte, Del. Cuauhtemoc, Mèxico, CDMX C.P. 06700, instituciones preocupadas por el bienestar y salvaguarda de la información proporcionada por
                        los titulares de los datos personales y datos sensibles que recabamos para efectos de nuestra actividad profesional y de acuerdo a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, hace de su conocimiento
                        el siguiente Aviso de Privacidad:
                        <br>Con fundamento y para los efectos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, es importante definir los siguientes términos:
                        <ol>
                            <li>
                                Datos personales: Cualquier información concerniente a una persona física identificada o identificable. Dicha información será resguardada bajo los principios de Licitud, Finalidad, Proporcionalidad, Calidad, Información, Consentimiento y Responsabilidad.
                            </li>
                            <li>
                                Datos personales sensibles: Aquellos datos personales que afecten a la esfera más íntima de su titular, o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para éste. En particular, se consideran sensibles aquellos
                                datos que puedan revelar aspectos como: Origen racial o étnico, estado de salud presente y futura, información genética, creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas, preferencia
                                sexual.
                            </li>
                        </ol>
                        <h6>FINALIDAD EN EL TRATAMIENTO DE SUS DATOS PERSONALES:</h6>
                        Mediante el presente AVISO DE PRIVACIDAD, solicitamos su consentimiento para el uso de sus datos personales y/o datos personales sensibles, mismos que serán recabados de manera escrita, vía telefónica o a través de medios electrónicos y con las siguientes
                        finalidades:
                        <ol>
                            <li>
                                Identificación y contacto.
                            </li>
                            <li>
                                Por motivos de Reclutamiento y selección de Ejecutivos a petición nuestra o del candidato.
                            </li>
                            <li>
                                Por la realización de evaluaciones psicométricas.
                            </li>
                            <li>
                                Por la recepción de su información contenida en su Currículo vitae, para ofrecerle alguna posición vacante de alguno de nuestros clientes o de manera interna.
                            </li>
                            <li>
                                Atender y contestar sus consultas en materia de Recursos Humanos.
                            </li>
                            <li>
                                Envío de información referente a nuestra empresa o con temas relacionados a Recursos Humanos.
                            </li>
                            <li>
                                Para la transferencia de datos personales y/o datos sensibles en caso de ser necesario por el proceso de selección, mismos que podrán ser tratados dentro y fuera del país, compartidos específicamente con nuestros clientes, con la previa autorización del
                                candidato en proceso. La información será tratada de manera muy profesional y con estrictas medidas de seguridad, administrativas, técnicas y físicas, mismas que se han implementado para proteger sus datos personales contra
                                daño, pérdida, alteración, o tratamiento no autorizado.
                            </li>
                            <li>
                                Evaluar la calidad del servicio que le brindamos.
                            </li>
                        </ol>
                        Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales: Nombre completo, teléfono personal de casa y celular, correo electrónico, lugar de trabajo, C.V., compensación económica.
                        <br>Usted tiene derecho a acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, a través de los procedimientos que
                        hemos implementado. Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en contacto al correo contacto@liondor.com.mx , en el cual se atenderá cualquier solicitud de los titulares en un plazo no mayor a
                        15 días hábiles contados a partir de la fecha en que se reciba la solicitud correspondiente, a través del correo electrónico que haya proporcionado para tal efecto.
                        <br>Es importante mencionar que para atender alguna solicitud por parte del titular se necesitará: Nombre del titular, domicilio, número telefónico o correo electrónico, documento (s) que acrediten la identidad o en su caso la
                        representación legal del titular, descripción clara de los datos personales de los cuales se pretende ejercer alguno de los derechos mencionados anteriormente. En caso de modificación deberán indicarlas y documentar la petición.
                        El presente Aviso de Privacidad podrá ser modificado en cualquier momento; dicha modificación, se le hará llegar al correo electrónico indicado o mediante la publicación en nuestra página web www.liondor.com.mx No seremos responsables
                        si usted no recibe la información de la modificación de Aviso de privacidad por causa de algún problema con su cuenta de correo electrónico o por fallas de transmisión de datos por internet.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--end modal-->