<div id="howto" class="howto">
    <div class="area-1">
    </div>
    <div class="area-2">
        <div class="howto-container" id="howto-1">
            <h2>¿Cómo lo hacemos?</h2>
            <div class="item">
                <div id="headingOne">
                    <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                          <span class="sec-number"><i class="fas">1</i></span><span class="howto-title">Levantamiento de perfil</span>
                    </span>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#howto-1">
                    <div class="howto-body">
                        Platica con el cliente para conocer el perfil del candidato y hacer la búsqueda lo más específica posible.
                    </div>
                </div>
            </div>
            <div class="item">
                <div id="headingTwo">
                    <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                          <span class="sec-number"><i class="fas">2</i></span><span class="howto-title">Planeación de la búsqueda</span>
                    </span>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#howto-1">
                    <div class="howto-body">
                        Mediante el desarrollo de una estrategia de acuerdo al perfil y características adicionales que brinde el cliente para la búsqueda.
                    </div>
                </div>
            </div>
            <div class="item">
                <div id="headingThree">
                    <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                          <span class="sec-number"><i class="fas">3</i></span><span class="howto-title">Mapeo del mercado</span>
                    </span>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#howto-1">
                    <div class="howto-body">
                        Se crea un mapeo identificando el tipo de perfil en búsqueda para seleccionar a los mejores candidatos
                    </div>
                </div>
            </div>
            <h2>...</h2>
        </div>
    </div>
</div>
<div id="howto2" class="howto2">
    <div class="area-1">
        <div class="howto-container" id="howto-2">
            <h2>...</h2>
            <div class="item">
                <div id="headingFour">
                    <span data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" role="button">
                          <span class="sec-number"><i class="fas">4</i></span><span class="howto-title">Listado de candidatos</span>
                    </span>
                </div>
                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#howto-2">
                    <div class="howto-body">
                        Los candidatos idóneos ya identificados les son aplicados evaluaciones técnicas en base a las funciones del perfil para colaborar su expertise en cada área de negocio.
                    </div>
                </div>
            </div>
            <div class="item">
                <div id="headingFive">
                    <span class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" role="button">
                          <span class="sec-number"><i class="fas">5</i></span><span class="howto-title">Entrevistas filmadas</span>
                    </span>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#howto-2">
                    <div class="howto-body">
                        Se hace entrevista filmada al listado seleccionado para entregar los candidatos que estén calificados para la posición solicitada.
                    </div>
                </div>
            </div>
            <div class="item">
                <div id="headingSix">
                    <span class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" role="button">
                          <span class="sec-number"><i class="fas">6</i></span><span class="howto-title">Entrega de informes</span>
                    </span>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#howto-2">
                    <div class="howto-body">
                        Se entrega la primera terna de los candidatos mejor calificados junto con los exámenes técnicos y entrevistas filmadas.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="area-2"></div>
</div>