<header id="home" class="home">
    <div class="home-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>SEARCHING <strong class="typed-element"></strong></h1>
                        <p class="intro-subtitle"></p>
                        <p class="p-heading p-large">Somos la firma en Soluciones de Atracción de Talento especializada que te brindará el mejor servicio de búsqueda ejecutiva.</p>
                        <a class="page-scroll" href="#about">
                            <div class="arrow">
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>