<div id="solutions" class="solutions">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-6">
                <div class="image-container">
                    <!-- <img class="img-fluid" src="https://fakeimg.pl/520x360/?retina=1" alt="alt"> -->
                    <img class="img-fluid" src="../../../assets/img/new/solutions.jpg" alt="alt">
                </div>
            </div>
            <div class="col-lg-7 col-xl-6">
                <div class="text-container">
                    <h2>Cuándo lo hacemos?</h2>
                    <div class="section-title">Soluciones</div>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Cuando cada uno de nuestros clientes tenga la necesidad de sustituir una posición <strong>ALTAMENTE CONFIDENCIAL, ALTAMENTE TÉCNICA O ALTAMENTE URGENTE.</strong></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Encontrarán en nosotros una solución para impactar positivamente los resultados a través de buscar, evaluar y seleccionar ejecutivos altamente talentosos mediante servicios profesionales, confiables y de vanguardia, dando como
                                resultado <strong>LA MEJOR GARANTÍA Y TIEMPO DE RESPUESTA EN EL MERCADO.</strong></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>