<div class="services-1" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Servicios</h2>
                <div class="card col-md-6">
                    <span class="fa-stack">
                      <span class="diamond"></span>
                    <i class="fas fa-search fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Executive Search</h4>
                        <p>Somos expertos en encontrar, evaluar y presentar al talento mas potente del mercado en divisiones, técnicas, directivas y ejecutivas.</p>
                    </div>
                </div>
                <div class="card col-md-6">
                    <span class="fa-stack">
                      <span class="diamond"></span>
                    <i class="fas fa-chart-bar fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Talent & Market Mapping</h4>
                        <p>Análisis de compensación, Benchmarks sectoriales y mapeos de empresas, Descripciones de puesto a medida e identificación de roles laborales.</p>
                    </div>
                </div>
                <div class="card col-md-6">
                    <span class="fa-stack">
                      <span class="diamond"></span>
                    <i class="fas fa-cogs fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">RPO</h4>
                        <p>Externalizamos las actividades de contratación para centralizar, homogeneizar y mejorar la sinergia de cada operación.</p>
                    </div>
                </div>
                <div class="card col-md-6">
                    <span class="fa-stack">
                      <span class="diamond"></span>
                    <i class="fas fa-tasks fa-stack-1x"></i>
                    </span>
                    <div class="card-body">
                        <h4 class="card-title">Assesment</h4>
                        <p>Evaluaciones en equipo, Individuales, Role Play, Entrevistas de Panel. Todo soportado a través de nuestra tecnología y especialistas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>